* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font: 400 1rem Roboto, Helvetica;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

#new {
  padding: 2rem 1.5rem 4rem;
  color: #58595b;
}

.new-header {
  display: flex;
  flex-direction: column;
}

.social-networks {
  margin-bottom: 0.625rem;

  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 1.25rem;

  font-size: 0.875rem;
  color: #58595b;
}

ul.networks {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    color: #58595b;
  }
}

.new-image {
  img {
    max-width: 100%;
    border-radius: 5px;
  }
}

.new-content {
  margin-top: 1.875rem;

  .new-title {
    margin-top: 0.9375rem;
    margin-bottom: 3.75rem;
    font-family: Helvetica;
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.0625rem;

    color: #006eb6;
  }

  .new-about {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    p {
      font-size: 0.9375rem;
      line-height: 1.25rem;
    }
  }
}

.useful-links {
  margin-top: 0.625rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    a {
      font-size: 0.9375rem;
      font-weight: 700;
      color: #337ab7;
      transition: all 0.3;

      &:hover {
        color: #23527c;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .new-title {
    font-size: 1.5rem;
  }

  .new-about {
    p {
      font-size: 1rem;
    }
  }
}
